.gridItem {
  margin: 2px;
  padding: 8px;
  display: block;
  color: var(--color-secondary);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0 0 0 transparent;
  transition: border-color 0.2s, shadow 0.2s;
}

.gridItem:hover,
.gridItem:focus-visible {
  box-shadow: 0 0 24px var(--border-primary-color);
  border-color: var(--border-primary-color);
}

.gridItem > * {
  margin: 4px;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--color-primary);
  transition: fill 0.2s;
}

.gridItem:hover > .icon,
.gridItem:focus-visible > .icon {
  fill: var(--fill);
}

.title {
  font-size: 17px;
}

.subtitle {
  font-size: 12px;
}
