*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 15px;

  --font-sans: 'Inter', 'system-ui';
  font-family: var(--font-sans);

  @supports (font-variation-settings: normal) {
    --font-sans: 'InterVariable', 'system-ui';
  }

  --text-color-primary: #222;
  --text-color-secondary: #585858;
  --text-color-tertiary: #888;
  --text-color-success: #00d15a;
  --text-color-disabled: #888;
  --background-color-underlying: #fbfbfb;
  --background-color-primary: #fff;
  --background-color-secondary: #fafafa;
  --background-color-tertiary: #f2f2f2;
  --border-color-primary: #0001;
  --border-dashed-default: 1px dashed var(--border-color-primary);

  --spacing-3xs: 2px;
  --spacing-2xs: 5px;
  --spacing-xs: 9px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 28px;
  --spacing-xl: 40px;

  --radius-md: 5px;
  --radius-full: 999px;
}

[data-theme='dark'] {
  --text-color-primary: #eee;
  --text-color-secondary: #bbb;
  --text-color-tertiary: #888;
  --text-color-success: #00e864;
  --text-color-disabled: #888;
  --background-color-underlying: #000;
  --background-color-primary: #080808;
  --background-color-secondary: #101010;
  --background-color-tertiary: #161616;
  --border-color-primary: #fff1;
}

body {
  font-family: var(--font-sans);
  color: var(--text-color-secondary);
  background-color: var(--background-color-underlying);
}
