.main {
  margin: 0 auto;
  min-height: 100svh;
  width: 800px;
  max-width: calc(100% - 2 * var(--spacing-xs));
  border-left: var(--border-dashed-default);
  border-right: var(--border-dashed-default);
  background-color: var(--background-color-primary);
}

.hero {
  height: 400px;
  padding: var(--spacing-lg);
  border-bottom: var(--border-dashed-default);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--spacing-sm);

  @keyframes entering {
    from {
      scale: 0.95;
      opacity: 0;
      filter: blur(4px);
      translate: 0 20%;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--spacing-xs);

    .greeting,
    .description {
      margin: 0;
      transform-origin: left bottom;
      animation-name: entering;
      animation-duration: 0.8s;
      animation-fill-mode: both;
    }

    .greeting {
      font-size: 28px;
      font-weight: 400;
    }

    .description {
      font-weight: 300;
      animation-delay: 0.1s;
    }

    i,
    strong {
      color: var(--text-color-primary);
    }

    i {
      font-weight: 400;
    }

    strong {
      font-weight: 500;
    }
  }

  .right {
    .avatar {
      display: block;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      transform-origin: right bottom;
      animation-name: entering;
      animation-duration: 0.8s;
      animation-fill-mode: both;
    }
  }
}

.footer {
  font-size: 13px;
  padding: var(--spacing-lg);
  padding-bottom: 144px;
}
