.sect {
  --ac: #00ff59;
  padding: var(--spacing-md) var(--spacing-lg);
  border-bottom: var(--border-dashed-default);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);

  @media (max-width: 450px) {
    flex-direction: column;
    align-items: flex-start;
  }

  background-image:
    linear-gradient(to right, transparent, var(--background-color-primary)),
    linear-gradient(
      to bottom,
      transparent,
      color-mix(in oklab, var(--ac), transparent 92%)
    ),
    linear-gradient(
      to bottom,
      transparent,
      color-mix(in oklab, var(--ac), transparent 95%)
    );

  .text {
    color: color-mix(in oklch, var(--text-color-secondary), var(--ac) 40%);
    display: inline-block;
    font-size: 16px;
    transform-origin: left top;
    animation: greeting-appear 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s
      both;

    @keyframes greeting-appear {
      from {
        opacity: 0;
        scale: 0.9;
      }
    }
  }

  .countdown {
    font-size: 13px;
    color: var(--text-color-tertiary);
    transform-origin: right top;
    animation: countdown-appear 1.2s 0.5s both;

    @media (max-width: 450px) {
      transform-origin: left top;
    }
  }

  @keyframes countdown-appear {
    from {
      filter: blur(2px);
      opacity: 0;
    }
  }
}
