.sect {
  --ac: #00ff59;
  padding: var(--spacing-md) var(--spacing-lg);
  border-bottom: var(--border-dashed-default);
  background-image:
    linear-gradient(
      to bottom,
      transparent,
      color-mix(in oklab, var(--ac), transparent 96%)
    ),
    linear-gradient(
      to bottom,
      transparent,
      color-mix(in oklab, var(--ac), transparent 98%)
    );

  .text {
    color: color-mix(in oklch, var(--text-color-secondary), var(--ac) 40%);
    display: inline-block;
    font-size: 16px;
    transform-origin: left top;
    animation: greeting-appear 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s
      both;

    @keyframes greeting-appear {
      from {
        opacity: 0;
        scale: 0.9;
      }
      to {
        opacity: 1;
        scale: 1;
      }
    }
  }
}
