.snowy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 50;
  overflow: hidden;
}

.flake {
  filter: blur(2px);
  position: absolute;
  left: var(--left);
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  corner-shape: initial;
  opacity: var(--opacity);
  top: -20px;
  animation: fall var(--duration) linear;
  animation-delay: var(--delay);
}

@keyframes fall {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(100vh + 40px));
  }
}
