.sect {
  border-bottom: var(--border-dashed-default);
  padding: var(--spacing-lg);
  animation: hlp 1.5s 1s 2;

  @keyframes hlp {
    50% {
      background-color: var(--background-color-tertiary);
    }
  }

  & > p {
    margin-top: 0;
    margin-bottom: var(--spacing-xs);
  }

  strong {
    color: var(--text-color-primary);
    font-weight: 500;
  }

  a {
    color: var(--text-color-primary);
    font-weight: 500;
    animation: hl 1.5s 1s 2;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }

    @keyframes hl {
      50% {
        margin-left: 2px;
        font-weight: 900;
      }
    }
  }
}
