html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: var(--color-primary);
}

:root {
  --color-primary: #fffd;
  --color-secondary: #fffa;
  --border-primary-color: #fff2;
  --border-primary: 1px solid var(--border-primary-color);
}
